<!DOCTYPE html>
<html>
    <head>
        <title>Change Password</title>
        
    </head>
    
    <body>
        <h1>Change Password?</h1>
        <h2>Username: <%=user.username%></h2>
        <form action = "/admin/<%=user._id%>/password" method ="POST">
            <input type = "password" name = "password1" placeholder = "new password">
            <input type = "password" name = "password2" placeholder = "verify new password">
            <input type = "submit" value = "Submit">
        </form>
        <a href = "/admin/<%=user._id%>">Go Back</a>
    </body>

    

</html>